@import "base";
.row {
	@extend %flex;
}
.inline-row {
	@extend %inline-flex;
}
.column {
	@extend %flex;
	@extend %flex-column
}
.wrap {
	@extend %flex-wrap
}
.items-center {
	@extend %align-center;
}
.items-start {
	@extend %align-start
}
.items-end {
	@extend %align-end
}
.items-stretch {
	@extend %align-stretch
}
.justify-start {
	@extend %justify-start;
}
.justify-center {
	@extend %justify-center
}
.justify-end {
	@extend %justify-end
}
.justify-between {
	@extend %justify-between
}
.justify-around {
	@extend %justify-around
}
.cs-mt-sm {
	margin-top: $default-padding/2
}
.cs-mt {
	margin-top: $default-padding
}
.cs-mt-md {
	margin-top: $default-padding * 2
}
.cs-mt-lg {
	margin-top: $default-padding * 4
}
.cs-mr-sm {
	margin-right: $default-padding/2
}
.cs-mr {
	margin-right: $default-padding
}
.cs-mr-md {
	margin-right: $default-padding * 2
}
.cs-mr-lg {
	margin-right: $default-padding * 4
}
.cs-mb-sm {
	margin-bottom: $default-padding/2
}
.cs-mb {
	margin-bottom: $default-padding
}
.cs-mb-md {
	margin-bottom: $default-padding * 2
}
.cs-mb-lg {
	margin-bottom: $default-padding * 4
}
.cs-ml-sm {
	margin-left: $default-padding/2;
}
.cs-ml {
	margin-left: $default-padding;
}
.cs-ml-md {
	margin-left: $default-padding * 2;
}
.cs-ml-lg {
	margin-left: $default-padding * 4;
}
.cs-ma-sm {
	margin: $default-padding/2
}
.cs-ma {
	margin: $default-padding
}
.cs-ma-md {
	margin: $default-padding * 2
}
.cs-ma-lg{
	margin: $default-padding * 4
}
.cs-pt-sm {
	padding-top: $default-padding/2
}
.cs-pt {
	padding-top: $default-padding
}
.cs-pt-md {
	padding-top: $default-padding * 2
}
.cs-pt-lg {
	padding-top: $default-padding * 4
}
.cs-pr-sm {
	padding-right: $default-padding/2
}
.cs-pr {
	padding-right: $default-padding
}
.cs-pr-md {
	padding-right: $default-padding * 2
}
.cs-pr-lg {
	padding-right: $default-padding * 4
}
.cs-pb-sm {
	padding-bottom: $default-padding/2
}
.cs-pb {
	padding-bottom: $default-padding
}
.cs-pb-md {
	padding-bottom: $default-padding * 2
}
.cs-pb-lg {
	padding-bottom: $default-padding * 4
}
.cs-pl-sm {
	padding-left: $default-padding/2;
}
.cs-pl {
	padding-left: $default-padding;
}
.cs-pl-md {
	padding-left: $default-padding * 2
}
.cs-pl-lg {
	padding-left: $default-padding * 4
}
.cs-pa-sm {
	padding: $default-padding/2
}
.cs-pa {
	padding: $default-padding
}
.cs-pa-md {
	padding: $default-padding * 2
}
.cs-pa-lg {
	padding: $default-padding * 4
}

.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}

/*** font setting***/
.green-font{
	color: $green !important;
}
.light-green-font {
	color: $light-green !important;
}
.yellow-font{
	color: $yellow !important;
}
.orange-font{
	color: $orange !important;
}
.blue-font{
	color: $blue !important;
}
.white-font {
	color: white !important;
}
.silver-font {
	color: $silver !important;
}
.black-font {
	color: $black !important;
}
.red-font {
	color: $red !important;
}
.gold-font {
	color: $gold !important;
}
.cyan-font {
	color: $cyan !important;
}
.bold-font {
	font-weight: 900;
}
/*** form elements ***/
.button{
	padding: 0 $default-padding;
	min-width: 70px;
	height: 36px;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	cursor: pointer;
	font-size: 12px;
	white-space: nowrap;
	background-color: transparent;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	&.icon-button {
		min-width: auto;
		&.small {
			height: 20px;
			width: 20px;
			padding: 0;
		}
	}
	&.link-style {
		border: none;
		min-width: auto;
		padding: 0;
		&:hover {
			text-decoration: underline;
			
		}
	}
	&:focus{
		outline: none;
	}
	&:hover {
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		-ms-transition: all .3s;
		-o-transition: all .3s;
		transition: all .3s;
		filter: brightness(110%);
	}
	&:disabled {
		border-color: #cacaca !important;
		color: white !important;
		background-color: #cacaca !important;
		&:hover {
			filter: none !important;
			cursor: not-allowed;
		}
	}
	&.warning {
		border-color: $gold;
		color: $silver;
		background-color: white;
		&:hover {
			background-color: $red;
			color: white;
			border-color: $red;
		}
	}
	&.green {
		border-color: $gold;
		color: $silver;
		background-color: white;
		&:hover {
			background-color: $light-green;
			color: white;
			border-color: $light-green;
		}
	}
	&.blue{
		border-color: $blue;
		color: $blue;
		background-color: white;
		&:hover {
			background-color: $blue;
			color: white;
		}
	}
	&.blue-filled{
		background-color: $blue;
		color: white;
		border-color: $blue;
	}
	&.red{
		border-color: $red;
		color: $red;
		background-color: white;
		&:hover {
			background-color: $red;
			color: white;
		}
	}
	&.red-filled{
		background-color: $red;
		color: white;
		border-color: $red;
	}
	
	&.cyan{
		border-color: $cyan;
		color: $cyan;
		background-color: white;
		&:hover {
			background-color: $cyan;
			color: white;
		}
	}
	&.cyan-filled{
		background-color: $cyan;
		color: white;
		border-color: $cyan;
	}
	&.yellow{
		border-color: $yellow;
		color: $silver;
		background-color: white;
	}
	&.yellow-filled{
		background-color: $yellow;
		color: $silver;
		border-color: $yellow;
	}
	&.gold{
		border-color: $gold;
		color: $silver;
		background-color: white;
	}
	&.gold-filled{
		background-color: $gold;
		color: $silver;
		border-color: $gold;
	}
	&.success{
		border-color: #90b900;
		color: #90b900;
		background-color: white;
		&:hover {
			background-color: #90b900;
			color: white;
		}
	}
	&.success-filled{
		background-color: #90b900;
		color: white;
		border-color: #90b900;
	}
	&.green-filled{
		background-color: $light-green;
		color: white;
		border-color: $light-green;
	}
	
	&.danger{
		border-color: #e85656;
		color: #e85656;
		background-color: white;
		&:hover {
			background-color: #e85656;
			color: white;
		}
	}
	&.orange{
		background: $orange;
		color: white;
		border-color: $orange;
		&.without-bg {
			color: $orange;
		}
	}
}
input, textarea, select{
	padding-left: $default-padding;
	padding-right: $default-padding;
	border: $border;
	font-size: 12px;
	&:focus {
		outline: $primary !important;
		border-color: $primary !important;
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		-ms-transition: all .5s;
		-o-transition: all .5s;
		transition: all .5s;
	}
	&:active {
		outline: $primary !important;
		border-color: $primary !important;
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		-ms-transition: all .5s;
		-o-transition: all .5s;
		transition: all .5s;
	}
	&:hover {
		border-color: $primary;
	}
	&:disabled {
		background: #f8f8f8 !important;
		&:hover {
			border-color: $border-color;
			cursor: not-allowed;
		}
	}
	&.adjust-width {
		width: 100%;
	}
}
textarea {
	resize: none;
}
input, select {
	height: 30px;
	&:-ms-input-placeholder {
		color: #999;
	}
	&:-moz-placeholder {
		color: #999;
	}
	&::-webkit-input-placeholder {
		color: #999;
	}
}
input[type=number] {
	-moz-appearance: textfield;
	&::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0
	}
}
button {
	outline: none;
	&:hover, &:active, &:focus {
		outline: none;
	}
}


/*** customize ***/
* {
	box-sizing: border-box;
}
body {
	padding: 0;
	margin: 0;
}
table{
	width: auto;
	border-collapse: collapse;
	&.adjust {
		width: 100%
	}
	tr{
		th {
			font-size: 13px;
			background-color: white;
		}
		td {
			font-size: 12px;
			word-wrap:break-word;
			word-break:break-all;
		}
		th, td {
			padding: $default-padding ;
			border: $border;
			.button {
				min-width: 40px;
				height: 20px;
				border-radius: 0;
			}
			.link-button {
				&:hover {
					text-decoration: underline;
					cursor: pointer;
				}
			}
		}
		&.active {
			background-color: #ecf8ea;
		}
		&:hover td {
			background-color: #ecf8ea;
		}
		&.action-row:hover {
			cursor: pointer;
		}
		&.danger {
			background-color: #fae7e6;
			td {
				color: $red;
			}
			&:hover td{
				background-color: #fae7e6;
			}
		}
		&.warning {
			background-color: #fff0e5;
			td {
				color: #a1663f;
			}
			&:hover td{
				background-color: #fff0e5;
			}
		}
	}
}

.notifications {
	z-index: 9999 !important;
}
.x-scroll {
	width: 100%;
	overflow-x: scroll;
}
.y-scroll {
	width: 100%;
	overflow-y: scroll;
}
.fixed-head-table {
	overflow-y: auto;
	//overflow-x: auto;
	table {
		position: relative;
		thead {
			th {
				position: sticky;
				top: 0;
				background-color: $light-green;
				color: white;
				&:before {
					content: "";
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 1px;
					background-color: $light-green;
				}
				&:after {
					content: "";
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 1px;
					background-color: $light-green;
				}
			}
		}
		tfoot {
			th {
				position: sticky;
				bottom: 0;
				&:before {
					content: "";
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 1px;
					background-color: $border-color;
				}
				&:after {
					content: "";
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 1px;
					background-color: $border-color;
				}
			}
		}
	}
}
.content-container {
	padding: 16px 0 16px 16px;
	min-width: 100%;
	min-height: 100%;
	position: relative;
	//font-size: 12px;
}
.custom-modal {
	padding: $default-padding * 2;
	.modal-headline {
		text-align: left;
		font-size: 18px;
		font-weight: bold;
		&.center {
			text-align: center;
		}
	}
	.modal-actions {
		@extend %flex;
		@extend %justify-end;
		@extend %align-center;
		font-size: 16px;
		button {
			height: 36px;
			min-width: 70px;
			font-size: 15px;
			border: none;
			background: none;
			color: $blue;
			transition: background-color 0.3s;
			border-radius: 3px;
			outline: none;
			& + button {
				margin-left: $default-padding
			}
			&:hover {
				cursor: pointer;
				background-color: #d1ebff;
				transition: background-color 0.3s;
				outline: none;
			}
			&:active {
				outline: none;
			}
			&:disabled {
				color: #999;
				&:hover {
					cursor: not-allowed;
					background-color: rgba(225, 225, 225, 0.65);
				}
			}
		}
	}
}
.editor-content {
	margin-top: $default-padding * 3;
	margin-bottom: $default-padding * 3;
	.editor-form-row {
		@extend %flex;
		@extend %justify-start;
		&:not(.align-top) {
			@extend %align-center;
		}
		&.align-top {
			@extend %align-start
		}
		& + .editor-form-row {
			margin-top: $default-padding * 2;
		}
		strong {
			font-size: 13px;
			display: inline-block;
			min-width: 50px;
			text-align: left;
		}
		.selector-component {
			$edsh: 30px;
			.vs__dropdown-toggle {
				height: $edsh;
				width: 164px;
			}
			.vs__selected {
				height: 20px;
			}
			.add-button {
				height: $edsh;
				width: $edsh;
			}
		}
	}
}
.selector-component {
	@extend %inline-flex;
	@extend %align-center;
	@extend %justify-start;
	.vs__dropdown-toggle {
		padding: 0;
		border-radius: 0;
		border-color: $border-color;
		font-size: 12px;
		height: 30px;
		width: 164px;
	}
	.vs__selected-options {
		width: 80%;
	}
	.v-select > ul {
		max-height: 30vh;
	}
	.vs__search {
		border: none;
		padding: 0;
		margin: 0;
		width: 100%;
		&:disabled {
			visibility: hidden;
		}
		&:-ms-input-placeholder{
			color: #999;
			text-indent: 6px
		}
		&::-webkit-input-placeholder {
			color: #999;
			text-indent: 6px
		}
		&::-moz-placeholder {
			color: #999;
			text-indent: 6px
		}
	}
	.vs__selected {
		line-height: inherit;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.vs__dropdown-menu {
		font-size: 12px;
		//max-height: 130px !important;
	}
	.add-button {
		border: none;
		background: none;
		transition: all 0.3s;
		outline: none;
		&:hover {
			cursor: pointer;
			background-color: #d1ebff;
			transition: all 0.3s;
			outline: none;
			color: $blue;
		}
	}
	&.adjust {
		.v-select {
			width: 100%;
		}
		.vs__dropdown-toggle {
			width: 100%;
		}
		.vs__dropdown-menu {
			width: 100%;
			min-width: auto;
		}
		.vs__dropdown-option {
			width: 100%;
		}
	}
}
.led {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: $light-green;
	box-shadow: 0px 0px 5px $light-green;
}
.stick-content-tools {
	font-size: 13px;
	button, input {
		height: 30px;
	}
	strong.cs-mr {
		width: 60px
	}
	.form-objects {
		width: 65%;
		@extend %flex;
		@extend %align-start;
		@extend %justify-start;
		@extend %flex-wrap;
	}
	.form-tools {
		width: 35%;
		@extend %flex-column;
		@extend %align-start;
		@extend %justify-start
	}
}
.checkbox-comp {
	@extend %inline-flex;
	@extend %align-center;
	@extend %justify-start;
	width: auto;
	.radio {
		input[type=radio] {
			display: none;
			&:checked + .pseudo {
				position: relative;
				border-color: #90b900;
				transition: all 0.3s;
				&:after {
					position: absolute;
					content: '';
					top: 50%;
					left: 50%;
					margin-left: -4px;
					margin-top: -4px;
					width: 8px;
					height: 8px;
					border-radius: 50%;
					background-color: #90b900;
					transition: all 0.3s;
				}
			}
		}
		.pseudo {
			display: block;
			width: 16px;
			height: 16px;
			border: #dcdcdc 1px solid;
			border-radius: 50%;
			transition: all 0.3s;
		}
	}
	.checkbox {
		input[type=checkbox] {
			display: none;
			&:checked + .pseudo {
				position: relative;
				border-color: #90b900;
				background-color: #90b900;
				color: white;
				transition: all 0.3s;
				&:before {
					position: absolute;
					font-style: normal;
					font-variant: normal;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					font-family: "Font Awesome 5 Free";
					font-weight: 900;
					content: "\f00c";
					transition: all 0.3s;
					margin-left: -6px;
					margin-top: 2px;
				}
			}
		}
		.pseudo {
			display: block;
			width: 18px;
			height: 18px;
			border: $border;
			transition: all 0.3s;
			color: white;
			&:hover {
				cursor: pointer;
				border-color: #90b900;
				transition: all 0.3s;
			}
		}
	}
	& > label {
		margin-left: $default-padding/2;
		&:hover {
			cursor: pointer;
		}
	}
}
.checkbox-btn {
	input[type=radio], input[type=checkbox] {
		display: none;
		&:checked + label{
			background-color: #90b900;
			color: white;
			border-color: #90b900;
			transition: all 0.3s;
			&:hover {
				color: white;
				background-color: #90b900;
				transition: all 0.3s;
			}
		}
	}
	& > label {
		display: block;
		width: 150px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		border: $border;
		border-radius: 3px;
		transition: all 0.3s;
		color: $silver;
		&:hover {
			cursor: pointer;
			border-color: #90b900;
			color: #90b900;
			transition: all 0.3s;
		}
	}
	& + .checkbox-btn {
		margin-left: $default-padding;
	}
	&.pd > label {
		width: auto;
		min-width: 48px;
		padding: 0 $default-padding/2;
	}
}
.sort {
	position: relative;
	display: block;
	width:18px;
	height:18px;
	&:before {
		position: absolute;
		content: '';
		margin-left: -5px;
		margin-top: 3px;
		left: 50%;
		top: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-color: transparent transparent white transparent;
		border-width: 0 5px 4px 5px
	}
	&:after {
		position: absolute;
		content: '';
		margin-left: -5px;
		margin-top: 2px;
		left: 50%;
		top: 50%;
		width: 0;
		height: 0;
		border-style: solid;
		border-color: white transparent transparent transparent ;
		border-width: 4px 5px 0 5px;;
	}
	&.asc:before {
		border-color: transparent transparent #614444 transparent;
	}
	&.desc:after {
		border-color: #614444 transparent transparent transparent ;
	}
}
.pointer:hover {
	cursor: pointer;
}
/*** transition effects ***/
.pop-out-enter-active,
.pop-out-leave-active {
	transition: all 0.5s;
}
.pop-out-enter,
.pop-out-leave-active {
	opacity: 0;
	transform: translateY(24px);
}